* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 920px;
    display: flex;
    justify-content: center;
}

.card {
    width: 307px;
    padding: 48px;
    border-radius: 8px;
}

.card--orange {
    background-color: hsl(31, 77%, 52%);
}

.card--blue {
    background-color: hsl(184, 100%, 22%);
}
.card--green {
    background-color: hsl(179, 100%, 13%);
}

.card__car-image{
    margin-bottom: 35px;
}

.card__title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    color: hsl(0, 0%, 95%);
}

.card__content {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 83px;
    color: hsla(0, 0%, 100%, 0.75);
}

.btn {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 11px 31.5px 12px 31.5px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn--orange {
    color: hsl(31, 77%, 52%);
}

.btn--blue {
    color: hsl(184, 100%, 22%);
}

.btn--green {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}